/* Container principal */
body > * {
    margin: 0 auto;
    display: block;
}

/*Definir cor do fundo da página*/
body {
    background-color: #1A1A1A;
}

/* Os elementos na tela não ocuparão
além de 60% do tamanho na horizontal */
form, h1, #btnCalc, #tabelaSaida, .fundoForms {
    background-color: #DFDCFB;
    max-width: 35vw;
}

/*Fundo do formulário com bordas estilizadas*/
.fundoForms {
    border-radius: 12px;
    margin-top: 6%;
    padding: 10px;

}

/* Título */
h1 {
    font-family: "Sulphur Point", sans-serif;;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    letter-spacing: 2px;
    border-radius: 20px 20px 0px 0px;
}   

/* Formulario */
form {
    display: flex;
    justify-content: space-between;
}

/*Parágrafos usados de titulos para as opções*/
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 20px;
}

/*Estilização dos campos*/
#dataV, #valorInvestimento, #aporteMensal {
    border-radius: 24px;
    padding: 10px;
    border: 3px solid #9087C2;
    background-color: white;
    width: 11vw;
    outline: none;
}

#valorInvestimento:focus, #aporteMensal:focus, select:focus{
    border: 3px solid #423C7B;
}


/*Estilo de select*/
select,
::picker(select) {
   appearance: base-select;
}

/*Estilização do select*/
select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 2px solid #9087C2;
    background: white;
    padding: 10px;
    border-radius: 24px;
    transition: 0.4s;
}

#opcoesInvestimento {
    width: 12.44vw;
}


/*Costumização do icone do select*/
select::picker-icon {
    color: #423C7B;
    transition: 0.4s rotate;
}

/*Animação do icone*/
select:open::picker-icon {
   rotate: 180deg;
}

/*Estilização das opções do select*/
option{
    font-size: 12px;
    border-bottom: 1px solid #9087C2;
    padding: 2px;

    /*Remover o checkmark*/
    &::checkmark {
      display: none;
    }
}

/*Estilização do campo de data de vencimento*/
#dataV {
    color:#000000;
    background-color: rgb(205, 203, 203);
    width: 25wv;
}


/*Div que centraliza o botão no formulário*/
.fundoBtn {
    text-align: center;
    background-color: #DFDCFB;
    max-width: 35vw;
}

/*Botão do cálculo*/
#btnCalc{
    width: 10vw;
    padding: 10px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid #9087C2;
    background-color: #423C7B;    
    box-shadow: 0 3px #2e2a5c;
    text-shadow: 2px 2px 4px #000000;
    color:white;
}

#btnCalc:hover{
    background-color: #2e2a5c;
    border: 3px solid #9087C2;
    color: white;
    text-shadow: 4px 4px 5px #423C7B;
}

#btnCalc:active{
    transform: translateY(2px);
    box-shadow: none;
}

/*Tabela dos resultados*/
#tabelaSaida {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid #9087C2;
    background-color: white;
}

/*Definição do tamanho das celulas e cores das bordas*/
tr td {
    padding: 2px 40px;
    border-left: 1px solid #8B8B8B;
    border-bottom: 1px solid #8B8B8B;
}

/*Gambiarra na tabela*/
.l{
    border-left: 0;
}


.b{
    border-bottom:0;
}

/* Colunas do formulário */
.coluna {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 1vw;
}

/*Fonte usada no título*/
.sulphur-point-light {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sulphur-point-regular {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sulphur-point-bold {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
    font-style: normal;
}
